<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phone.module_home">

    <application
        android:name=".HomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/library_app"
        android:label="@string/home_app_name"
        android:networkSecurityConfig="@xml/base_network_security_config"
        android:roundIcon="@mipmap/library_app"
        android:supportsRtl="true"
        android:theme="@style/library_AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup, android:label">

        <!-- 高德地图，这里的value是高德地图开放平台你的应用的Key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="356a1587ceff55b9378d7ad70923b553" />
        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".ui.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.VideoListActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--         <activity-->
        <!--            android:name=".ui.ShowVideoActivity"-->
        <!--            android:exported="false"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:screenOrientation="portrait" />-->

    </application>

</manifest>