<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phone.module_square">

    <application
        android:name=".SquareApplication"
        android:allowBackup="true"
        android:icon="@mipmap/library_app"
        android:label="@string/square_app_name"
        android:roundIcon="@mipmap/library_app"
        android:supportsRtl="true"
        android:theme="@style/library_AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup, android:label">
        <activity
            android:name=".ui.SquareActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.JsbridgeActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.KotlinCoroutineActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CreateUserActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DecimalOperationActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditTextInputLimitsActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".observer.ObserverActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>